.navbar_float {
    color: lightseagreen;
    font-size: large;
    position: relative;
    float: right;
    padding: 10px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.imgS {
    float: right;
    width: 10%;
    height: 10%;
    padding-right: 250px;
}